/*246,246,248
255,255,255
23,88,240
234,62,74
241,242,244
245,246,248
238,239,241
94,94,94
255,255,255*/

body{
    
    margin: 0px;
    padding: 0px;
    width: 98.8vw;
    height: 1280px;
    background-color: rgb(246,246,248);
   
}

*{
     font-family: Arial, Helvetica, sans-serif;

}
.svg{
    width: 23px;
    height: 23px;
    background-color: bisque;
    display: inline-block;
    border: solid 1px black;
    margin-left: 10px;
}

    

.header{
    height: 12vh;
    width:100%;
   padding-top: 4vh;
    box-sizing: border-box;
    padding-left: 1.2vw;
    
    background-color: rgb(255,255,255);
}
.TechStore-header{
font-size: 17px;
font-weight: 600;
   }


   .sections-header{
    font-size: 13px;
    width: 26.12vw;
    display: inline;
    margin-left: 18.5vw;
}


.sections-header span{
margin-right: 3vw;

}
.sections-header span:hover{
color:rgb(33, 55, 86);
}

.search-input-header{

    background-color: rgb(241,242,244);
    border-radius: 4px;
    border: none;
    height: 5vh;
    margin-left: 14vw;
    width: 17vw;
 
}
.search-input-header::placeholder {
      font-size: 12px;
      margin-left: 3vw;
    }
    
.svg-shop-header{
    margin-left: 2vw;
    margin-right: 1vw;
}




.directorio{
        font-size: 13px;
        color: rgb(65, 64, 64);
    margin-top: 5vh;
    margin-left: 2vw;
    display: block;
    width: 96vw;
    margin-bottom: 0px;
  
}
.directorio span{
    margin-right: 10px;

}

.lastdirectory{
    font-weight: 300;
}




.filter-section{
    box-sizing: border-box;
height: 65vh;

width: 19vw;
margin-left: 3.2vw;
padding-left: 1vw;
padding-top: 4vh;
margin-top: 7vh;
display: block;
}
.filter-section h4{
    margin-top: 0px;
    margin-bottom: 2vh;
}
.categorie-filter-section label{
    display: inline-block;
margin-bottom: 1.4vh;
width: 12.5vw;
}
.span-checkbox-filter-section{
background-color: aliceblue;

width:min-content;
height: 2.5vh;

padding-left: 0.3vw;
padding-right: 0.3vw;

display: inline;
border-radius:17px;


text-align: center;
font-size: 12px;
}


.filter-section div {
    margin-bottom:6.3vh;
}
.price-button{
   background-color: rgb(246,246,248);
   border-color:rgb(255, 255, 255);
  
   border-radius: 6px;
   margin-right: 1.5vw;
    width: 6vw;
    height: 4vh;
}
.price-button-more{
    margin-left: 1.5vw;
}
.price-button p{
    display: inline;
}

.color-button-filterSection{
    margin-bottom: 0px;
    width: 2.1vw;
    height: 2.1vw;
    border-radius: 50%;
    
    border: solid 1px rgb(51,93,231);
    background-color: aqua;
    display: inline-block;

}







.product-section{
   position: absolute;

   top: 22.4vh;
   left: 22vw;
 box-sizing: border-box;
height: 105vh;

width:69vw;
padding-left: 1vw;
padding-top: 0px;
margin-left: 3vw;
display: inline-block;
}

.products-description{

    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    display: flex;
   height: 10vh;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
 
}
select{
    background-color:transparent;
    border: none;
    font-size: 15px;
}
.product-info-product-section{
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
   width: 60%;

}
.product-info-product-section h1 , p{
    margin-bottom: 0px;
    margin-top: 0px;
}

.filter-product-section{
    width: 40%;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
   
    align-items: center;
    justify-content: flex-end;
    
}

.span-filter-product-section{
    background-color: beige;
}



.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
grid-gap: 2vw;
    height: 150vh;
}

.product-grid article{
    height: 73vh;

}

.product-grid article img{
 width: 100%;
 box-sizing: border-box;
 height: 75%;
}

.starts-product{
    margin: 0px;
    width: 60%;
    background-color: azure;
    height: 3vh;
}

.product-grid h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-description-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 2vw;
}



.num-page{
    text-align: center;
    display: block;
   width: 100%;
   position: relative;
   margin-top:45%;
  
}
.product-info-product-section p , .categorie-filter-section label  , .product-grid p ,
.span-filter-product-section  , .price-button p
{
   color: rgb(65, 64, 64);
   font-size: 12.5px;
}
.filter-section , .product-grid article ,
.span-filter-product-section 
{
    background-color: rgb(255,255,255);
}


